@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #f6f7f9;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
.react-time-picker__wrapper {
  border-width: 0px !important;
  padding-left: 2rem;
  padding-right: 1rem;
}

